doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/nav.pug
    .page-content
      h1 Users List
      .card-box
        if usersList.length > 0
          each user in usersList
            .card= user
        else
          h3 The list is empty
    