doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/nav.pug
    .page-content
      h1 Users List
      if usersList.length > 0
        ul
          each user in usersList
            li= user
      else
        h3 The list is empty
    