body {
  background-color: rgba(247, 247, 247, 0.983);
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace
}

.main__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: #939393;
}

.list__item {
  list-style: none;
  padding: 20px 10px 20px 10px;
}

.item__link {
  text-decoration: none;
  color: black;
}

.item__link:hover {
  font-weight: bold;
}

.item__link.active {
  font-weight: bold;
}

.page-content {
  padding: 20px;
}

.page-form {
  background-color: #dbdbdb;
  padding: 10px;
  border-radius: 10px;
}

.form-item {
  margin: 10px;
}

.card-box {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #939393;
  padding: 30px;
}
.card {
  border-radius: 10px;
  background-color: #dbdbdb;
  padding: 10px;
  margin: 5px;
  text-align: center;
}