nav.main__nav
  ul.main__list 
    li.list__item
      a.item__link(href='/' class=(route === '/' ? 'active' : '')) Home
    li.list__item
      a.item__link(href='/users' class=(route === '/users' ? 'active' : '')) Users